:root {
	  --carousel-btn-focus: transparent;
}


.carousel-height-40rem {
	.carousel {
		--carousel-height: 40rem;
		max-width: 80rem;
		margin: 0 auto;
	}
}

$breakpoints: (
	"small": 30em,
	"medium": 50em,
	"large": 70em
);	

//	Typography

//	Serif

