/*	heroHome
*/

.component.component--hero-image.hero-home {
//	aspect-ratio: 16 / 9;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	position: relative;
	height: 100vh;
//	height: calc(100vh - 9.375rem);
}

.hero-home.component--hero-image .field--name-field-hero-image-display-title span {
	background: transparent;
	font-size: inherit !important;
}

.hero-home .content.col-12 {
	min-height: auto !important;

//	border: 2rem solid #f00;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	max-width: unset;
	top: 0;
	clip-path: inset(0 0 0 0);
}


@keyframes scopeIn {
  from {
	  transform: scale(1.2);
	opacity: 0;
  }
  to {
	  transform: scale(1);
	opacity: 1;
  }
}

@keyframes zoomIn {
  from {
	  transform: scale(0.8);
	opacity: 0;
  }
  to {
	  transform: scale(1);
	opacity: 1;
  }
}

@keyframes wipeIn {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}



.hero-home .field--name-field-hero-image-display-title {
	background-color: rgba(0,0,0,0.6);

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
//	height: calc(100vh - 9.375rem);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 !important;
	
	h1 {
		text-align: center;
		font-size: clamp(2rem, 8vw, 8rem) !important;

		animation-delay: 0.4s;
		animation-name: wipeIn;
		animation-duration: 1s;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
//		opacity: 0;
		clip-path: inset(0 100% 0 0);

	}
}



.component.component--hero-image.hero-home {
	animation-name: scopeIn;
	animation-duration: 1.2s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	opacity: 0;
	transform: scale(1.01);
}








