
/* imageFeature */

.component--main-content.imageFeatureRow {
	//	removes the default padding, max-width, etc
	@include resetDrupalSection();

	min-height: 100vh;
	
	h3.featureImage-title {
		$namespace: h3-featureImage-title !global;
		@include hook(font-size, clamp(1.4rem, 2.3vw, 2.3rem));
		@include hook(color, #641a2b);

		font-variation-settings: "wght" 700;
		letter-spacing: -0.04rem;
		line-height: 1.2;
	}

	//	default is "center", so doesn't need to be specified
	.imageAlignment-left {
		img {
			object-position: left;	
		}	
	}
	.imageAlignment-right {
		img {
			object-position: right;	
		}	
	}	
	.imageFeature {
//		@include autoCollapseCols();
		@include cols();
		
		&.imageCol-onRight {
			flex-direction: row-reverse;
			
			.textColumn {
				justify-content: end;
			}
		}
		
		&.mh-100vh {
			min-height: 100vh;
		}
	}

	//	IMAGE
	.imageColumn {
		min-height: 30rem;
		position: relative;
	
		img {
			$namespace: imageFeature_imageColumn !global;
			@include hook(position, absolute);

			width: 100%;
			@include hook(height, 100%);
			object-fit: cover;
		}
	}	
	
	//	TEXT
	.textColumn-content {
		max-width: 36rem;
	}
	.textColumn {
		$namespace: imageFeature_textColumn !global;

		display: flex;
		align-items: center;
		@include flr(padding, 1rem, 4rem);
	}	
}
	



