/*	_linkCards-fullBleed */

$namespace: lCardFB;

.linkCard-fullBleed {
//	aspect-ratio: var(--linkcard-aspectRatio, 16 / 9);
	
	@include hook(aspect-ratio, "16 / 9");
	
	overflow: hidden;
	position: relative;
	
	.linkCard_image {
		position: relative;
		height: 100%;
		width: 100%;
		transition: transform 0.4s;
		@include hook(filter, none);
	}
	img {
		@include objectFit();
	}	


	//	All hover and focus states go here
	@include hot() {
		.linkCard_image {
			transform: scale(1.1);
		}
	}
}

.linkCard_link {
	@include stretch-link();
}

.linkCard_linkContainer {
	--text-color: #fff;
	--text-underline: none;
}

.linkCard_linkContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	align-items: end;	
	
	a {
		@include flr(font-size, 2rem, 4rem);
		@include hook(font-family, '"acumin-pro-extra-condensed","Helvetica Neue","Helvetica","Arial",sans-serif');
		@include hook(line-height, 1);
		
//		background-image: linear-gradient(to top, black, transparent);
		background-image: radial-gradient(farthest-corner at 0% 100%, var(--#{$namespace}-maskColor, rgba(0,0,0,0.6)) 20%, var(--#{$namespace}-maskColor, rgba(0,0,0,0.6)) 40%,  transparent 70%, transparent 100%);
		
		//	Padding is longer on the right side so the gradient will
		//	cover more of the text
		@include hook(padding, 1rem 6rem 2rem 2.6rem);
	}
}


//	VARIATIONS
//	The following are different styles of this component


.linkCard-fullBleed {
	&.style-classic {
		--lCardFB-filter: grayscale(1);
	}	
}

//	the specific animation doesn't matter
.anim-reveal-sequential-fast {
	@include bp-sequence((gap: 0.2s));
}

.linkCard-fullBleed {
	opacity: 0;
}

@keyframes fadeIn {
  from {
	opacity: 0;
  }
  to {
	opacity: 1;
  }
}


.top-75pfrom-topOfWindow {
	.linkCard-fullBleed {
		//	define these without using the shorthand
		//	since the shorthand will override the animation-delay
		//	applied by the sequential reveal
		animation-name: fadeIn;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
	  /* Initially invisible */
	  opacity: 0;
	}
}








