/*	_linkCards-fullBleed */

$namespace: lCardFB;

.linkCard-fullBleed {
//	aspect-ratio: var(--linkcard-aspectRatio, 16 / 9);
	
	@include hook(aspect-ratio, "16 / 9");
	
	overflow: hidden;
	position: relative;
	
	.linkCard_image {
		position: relative;
		height: 100%;
		width: 100%;
		transition: transform 0.4s;
		@include hook(filter, none);
	}
	img {
		@include objectFit();
	}	


	//	All hover and focus states go here
	@include hot() {
		.linkCard_image {
			transform: scale(1.1);
		}
	}
}

.linkCard_link {
	@include stretch-link();
}

.linkCard_linkContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	align-items: end;	
	
	a {
		@include flr(font-size, 2rem, 3rem);
		@include hook(font-family, '"acumin-pro-extra-condensed","Helvetica Neue","Helvetica","Arial",sans-serif');
		@include hook(line-height, 1);
		
//		background-image: linear-gradient(to top, black, transparent);
		background-image: radial-gradient(farthest-corner at 0% 100%, var(--#{$namespace}-maskColor, rgba(0,0,0,0.4)) 20%, var(--#{$namespace}-maskColor, rgba(0,0,0,0.4)) 40%,  transparent 70%, transparent 100%);
		
		//	Padding is longer on the right side so the gradient will
		//	cover more of the text
		@include hook(padding, 1rem 6rem 1rem 2rem);
	}
}


//	VARIATIONS
//	The following are different styles of this component

.linkCard-fullBleed {
	&.style-classic {
		--lCardFB-filter: grayscale(1);
	}	
}











